@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="d-flex justify-content-end flex-column">
    <div class="d-flex">
        <div class="d-flex justify-content-center" style="flex: 1;">
            <img src="../img/logotipo.svg" alt="Logotipo NoteNest" style="width: 100%;max-width: 50px;object-fit: contain;" />
        </div>

        <div class="navbar">
            <a asp-controller="Notas" asp-action="Home" class="fw-bold fs-5 text-decoration-none texto-marrom btn">Home</a>

            <div class="d-flex align-items-center position-relative" style="cursor: pointer;gap: 0.5rem;" onclick="MostrarOpcoes()">
                <p class="d-flex mb-0 fw-bold fs-5 texto-marrom">Olá, Stephanie</p>
                <img src="../img/icon-seta.svg" style="margin-top: 0.2rem; width: 8%;">

                <div class="opcoes texto-marrom mostrar" id="opcoes">
                    <a asp-controller="Usuario" asp-action="DadosPessoais" role="button">Dados pessoais</a>
                    <a>Sair</a>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex" style="padding: 25px 10%;">
        <a class="d-flex gap-3 text-decoration-none voltar" asp-controller="Notas" asp-action="Home">
            <img src="../img/seta-voltar.svg" style="width: 30px;" />Voltar
        </a>
    </div>

    <div class="d-flex justify-content-center">
        <form class="visao-notas w-nova-nota">
            <input type="text" name="titulo" class="input-titulo" placeholder="Título aqui" />
            <textarea class="input-nota h-ipt-nova-nota" placeholder="Anotações aqui..."></textarea>
            <div class="d-flex justify-content-between">
                <button class="text-decoration-underline bg-transparent border-0" style="color: #5D4C30;" type="reset">Limpar</button>
                <button type="submit" class="btn w-25 text-white" style="background: #5D4C30;">Salvar</button>
            </div>
        </form>
    </div>

</div>